@import url("https://fonts.googleapis.com/css2?family=Lora&family=Roboto");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/flag.css");

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
}

h1, h2, h3 {
    font-family: 'Lora', serif;
    color: orange;
}